
.bg-container
{
    background-image: url("https://4kwallpapers.com/images/wallpapers/beach-aerial-view-2560x1440-60.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 2%;
    padding: 0px;
}
.header
{
    background-color: rgba(159, 223, 216, 0.941);
    font-size: larger;
}
.carousel-container
{
    margin-top: 1%;
    
}
.carousel-inner
{
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem 1rem rgba(0, 200, 255, 0.331);
}
.carousel-container img
{
    width: 100%;
    height: 100%;
}
.carousel-item
{
    height: 100%;
}
.intro
{
    text-align: center;
    margin: 1%;
}
/*category*/
.category
{
    margin-top: 5%;
    padding:1% 10%;
    
}
.cat-head   
{
    text-decoration: underline;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}
.cat-card
{
    width: 75%;
    margin: auto;
    border: 2px solid rgb(137, 228, 226);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0.25px rgba(0, 200, 255, 0.331);
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.751);
}
.cat-name
{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}
.desc
{
    text-align: justify;
}
.img-container
{
    text-align: center;
}
.cat-card img
{
    height: 200px;
    width: 200px;
    border-radius:20%;
    margin: auto;
    opacity: 50%;
}
.cat-card:hover img
{
    transition: 0.5s ease-in-out;
    opacity: 100%;
    transform: scale(1.1,1.1);
    border-radius: 100%;
}
/* eqnuiry */
.form-container
{
    text-align: left;
    padding: 2% 25%;
}
.enquiry-head
{
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}
.form-container form label
{
    margin: 1% 0%;
    font-weight: bold;
}
.form-container form .submit-btn
{
    margin: 2% 0%;
}

.footer
{
    background-color: black;
    margin-top: 5%;
}
.fleft
{
    padding: 2%;
    color: white;
}
.fleft hr
{
    border: 2.5px solid white;
    border-radius: 2rem;
    width: 25%;
}
.media
{
    margin: 4% 0%;
}

.media a,.quick-links a
{
    text-decoration: none;
    color: white;
}
.media a:hover,.quick-links a:hover
{
    font-weight: bolder;
    transition: 0.25s;
}
.quick-links a:hover
{
    font-weight: bolder;
    text-decoration: underline;
    transition: 0.25s;
}
.media span
{
    margin-left : 2%;
}